<!--
  Generated template for the UserDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>user-details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  
  <!-- <div padding-top align="left">
    <ion-avatar item-start>
      <img src="assets/images/user-icon.png">
    </ion-avatar>      
  </div> -->
  

  <ion-list padding class="list-style">
      <ion-row>
        <ion-col col-4 text-left>
          Name:
        </ion-col>
        <ion-col col-8>
          {{user.name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-left>
          Email: 
        </ion-col>
        <ion-col col-8 text-wrap>
          {{user.email}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-left>
          Phone:
        </ion-col>
        <ion-col col-8>
          {{user.phone}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-left>
          Website: 
        </ion-col>
        <ion-col col-8>
          {{user.website}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-left>
          Company: 
        </ion-col>
        <ion-col col-8>
          {{user.company}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 text-left>
          Address:
        </ion-col>
        <ion-col col-8>
          {{user.address}}
        </ion-col>
      </ion-row>
  </ion-list>

</ion-content>
