<ion-header>
  <ion-navbar>
    <ion-title align="center">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let user of datauser">
    <ion-card-content (click)="itemDetails(user.id)">
      <p>Name  : {{user.name}}</p>
      <p>Email : {{user.email}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
